<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiTemplateGenerator.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiTemplateGenerator.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultiTemplateGenerator.UI.Properties.Settings>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoImportToVS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenGeneratedTemplate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExpand" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyPropertiesFromSolution" serializeAs="String">
                <value>True</value>
            </setting>
        </MultiTemplateGenerator.UI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MultiTemplateGenerator.UI.Properties.Settings>
            <setting name="DefaultPlatformTags" serializeAs="String">
                <value>Android,Azure,iOS,Linux,macOS,tvOS,Windows,Xbox</value>
            </setting>
            <setting name="DefaultProjectTypeTags" serializeAs="String">
                <value>Cloud,Console,Desktop,Extensions,Games,IoT,Library,Machine Learning,Mobile,Office,Other,Service,Test,UWP,Web</value>
            </setting>
            <setting name="DefaultLanguageTags" serializeAs="String">
                <value>None,C#,C++,F#,Java,JavaScript,Python,Query Language,TypeScript,Visual Basic</value>
            </setting>
        </MultiTemplateGenerator.UI.Properties.Settings>
    </applicationSettings>
</configuration>